.cursor-visited {
  border-radius: 5px;
}

div.clickEffect{
  position:fixed;
  box-sizing:border-box;
  border-radius:50%;
  animation:clickEffect 0.5s ease-out;
  z-index:99999;
}

@keyframes clickEffect{
  0%{
    opacity:1;
    width:0.5em; height:0.5em;
    margin:-0.25em;
    background-color: #14A4ED;
  }
  100%{
    opacity:0.8;
    width:15em; height:15em;
    margin:-7.5em;
    background-color: transparent;
}
}
